@page "/fees"
@using Domain.Objects
@using Domain.Types
@using TradeCommissionApiTypes
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]
@rendermode InteractiveServer

@inject ApiServiceClient FeesApi

<PageTitle>Fees</PageTitle>

<h1>Fees</h1>

<p>This component demonstrates showing data loaded from a backend API service.</p>

@if (fees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm EditContext="editContext" OnValidSubmit="AddAsync" FormName="NewTradeForm">
        <AntiforgeryToken />
        <table class="table">
            <thead>
            <tr>
                <th>SecurityType</th>
                <th>TransactionType</th>
                <th>Description</th>
                <th>PercentageOfTotal</th>
                <th>FlatFee</th>
                <th>MinThreshold</th>
                <th>MaxThreshold</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var fee in fees)
            {
                <tr>
                    <td>@fee.SecurityType</td>
                    <td>@fee.TransactionType</td>
                    <td>@fee.Description</td>
                    <td>@fee.PercentageOfTotal</td>
                    <td>@fee.FlatFee</td>
                    <td>@fee.MinThreshold</td>
                    <td>@fee.MaxThreshold</td>
                    <td><button class="btn btn-primary" type="button" @onclick="@(async () => await DeleteAsync(fee.Id))">Delete</button></td>
                </tr>
            }
            <tr>
                <td>
                    <InputText @bind-Value="Model!.SecurityType" style="text-transform:uppercase" />
                    <ValidationMessage For="() => Model!.SecurityType"/>
                </td>
                <td>
                    <InputSelect @bind-Value="Model!.TransactionType">
                        @foreach (var value in Enum.GetValues(typeof(TransactionType)))
                        {
                            var type = (TransactionType)value;
                            var name = Enum.GetName(type);

                            if (type == TransactionType.Unknown)
                            {
                                name = string.Empty;
                            }

                            <option>@name</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Model!.TransactionType" />
                </td>
                <td>
                    <InputText @bind-Value="Model!.Description" />
                    <ValidationMessage For="() => Model!.Description" />
                </td>
                <td>
                    <InputNumber @bind-Value="Model!.PercentageOfTotal"/>
                    <ValidationMessage For="() => Model!.PercentageOfTotal" />
                </td>
                <td>
                    <InputNumber @bind-Value="Model!.FlatFee"/>
                    <ValidationMessage For="() => Model!.FlatFee" />
                </td>
                <td>
                    <InputNumber @bind-Value="Model!.MinThreshold"/>
                    <ValidationMessage For="() => Model!.MinThreshold" />
                </td>
                <td>
                    <InputNumber @bind-Value="Model!.MaxThreshold" />
                    <ValidationMessage For="() => Model!.MaxThreshold" />
                </td>
                <td><button class="btn btn-primary" type="submit">Add</button></td>
            </tr>
            </tbody>
        </table>
    </EditForm>
    <div>
        <button class="btn btn-primary" @onclick="ResetToDefault">Reset to Default</button>
    </div>
}

@code {
    [SupplyParameterFromForm]
    public FeeRequest? Model { get; set; }

    private Fee[]? fees;

    private EditContext? editContext;
    private ValidationMessageStore? messageStore;

    protected override async Task OnInitializedAsync()
    {
        Model ??= new FeeRequest();
        editContext = new EditContext(Model);
        editContext.OnValidationRequested += HandleValidation;
        messageStore = new ValidationMessageStore(editContext);

        fees = await FeesApi.GetFeesAsync();
    }

    private void HandleValidation(object? sender, ValidationRequestedEventArgs args)
    {
        messageStore?.Clear();

        if (string.IsNullOrWhiteSpace(Model!.SecurityType))
        {
            messageStore?.Add(() => Model.SecurityType, "Please add a security");
        }

        if (Model!.TransactionType == TransactionType.Unknown)
        {
            messageStore?.Add(() => Model.TransactionType, "Please select a transaction");
        }

        if (string.IsNullOrWhiteSpace(Model!.Description))
        {
            messageStore?.Add(() => Model.Description, "Please add a description");
        }

        if (Model!.PercentageOfTotal < 0)
        {
            messageStore?.Add(() => Model.PercentageOfTotal, "Please add a valid number");
        }

        if (Model!.FlatFee < 0)
        {
            messageStore?.Add(() => Model.FlatFee, "Please add a valid flat fee");
        }

        if (Model!.MinThreshold < 0)
        {
            messageStore?.Add(() => Model.MinThreshold, "Please add a valid min threshold");
        }

        if (Model!.MaxThreshold < 0)
        {
            messageStore?.Add(() => Model.MaxThreshold, "Please add a valid max threshold");
        }
    }

    public void Dispose()
    {
        if (editContext is not null)
        {
            editContext.OnValidationRequested -= HandleValidation;
        }
    }

    private async Task DeleteAsync(Guid id)
    {
        await FeesApi.DeleteFeeAsync(id);
        fees = await FeesApi.GetFeesAsync();
    }

    private async Task ResetToDefault()
    {
        await FeesApi.ResetToDefaultAsync();
        fees = await FeesApi.GetFeesAsync();
    }

    private async Task AddAsync()
    {
        await FeesApi.AddFeeAsync(Model!);
        Model = new FeeRequest();

        fees = await FeesApi.GetFeesAsync();
    }
}
